NODE_ENV="development"
DB_URI="uri mongo"
APP_PORT="8085"
JWT_SECRET="mi_clave_secreta"
MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_PUBLIC_KEY=""
EMAIL_USER="usuario para nodemailer"
EMAIL_PASS="nodemailer email"
MP_ACCESS_TOKEN=""
